<!-- {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Your Unique Header</title>
</head>
<body>
    <header class="header">
        <h1>Your Unique Header</h1>
        <p>Welcome to our website!</p>
    </header>
<br>


 <br>
    <footer class="footer">
        <p>&copy; PRATHAM SAHANI. All rights reserved.</p>
    </footer>
</body>
</html> -->

{% include "header.html" %}

{% block content %}


{% endblock %}


{% include "footer.html" %}