{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="menu">
                <div class="title">
                    <h1 class="mb">
                        Calculator
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form action="" method="post">
                        {% csrf_token %}
                        <label for="num1">Value 1</label>
                        <input type="text" name="num1" class="form-control">
                        <label for="opr">Select Operator</label>
                        <select name="opr" class="form-control" id="">
                            <option value="+">+</option>
                            <option value="-">-</option>
                            <option value="*">*</option>
                            <option value="/">/</option>
                        </select>
                        <br><br>
                        <label for="num2">Value 2</label>
                        <input type="text" name="num2" class="form-control">
                        <button type="submit">Calculate</button>
                    </form>
                    <br>
                    <label for="">Output</label>
                    <input type="text" value="{{ c }}" readonly>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
