{% extends "base.html" %}
{% block start %}



<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
  .text{
    color: green;
    font-weight: bold;
  }
</style>


      <div class="class mt-5">
        <form action="" >

          <div class="max-auto col-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Search Food</label>
              <input name="search" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary "> Search</button>
          </form>
        </div>
      </div>
      <table class="table mt-5">
        <thead>

          <tr>
            <th scope="col">#</th>
            <th scope="col">Receipe name</th>
            <th scope="col">Receipe Desc</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for receipe in receipes %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{receipe.receipe_name}}</td>
            <td>{{receipe.receipe_description}}</td>
            <td>
                <img src="/media/{{receipe.receipe_image}}" style="height: 100px;"> </td>
                <td>
                    <a href="/update_receipe/{{receipe.id }}" class="btn btn-success">Join</a>
                </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
</div>

{% endblock %}