<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button style="align-items: center;"><a href="{% url 'request_u' %}">Others Request</a></button>
    <button style="align-items: center;"><a href="{% url 'request_me' %}">My Request</a></button>
    <button style="align-items: center;"><a href="{% url 'bloods' %}">apply</a></button>
    <button style="align-items: center;"><a href="{% url 'first' %}">doner</a></button>    
</body>
</html>